h3 Social Login: Client-side login + Server-side user management
p Status: {{ login.getStatus() }}
p Session: {{ login.session.sessionId }}
div(ng-show='login.isLoggedIn()')
	p Display name: {{ login.user.displayName }}
	p Email(s):&nbsp;
		span(ng-repeat='email in login.user.emails') {{ email.value }}
	p User ID: {{ login.user.id }}
	p Domain: {{ login.user.domain }}
	p Organisation(s):&nbsp;
		span(ng-repeat='organisation in login.user.organizations') {{ organisation.name }} ({{ organisation.type }})
